Assets/Amination/
Assets/Amination.meta
Assets/Amination/mainc1.anim.meta
Assets/Amination/player.controller.meta
Assets/Amination/run.anim.meta
Assets/Audio/
Assets/Audio.meta
Assets/Editor Default Resources/
Assets/Editor Default Resources.meta
Assets/Resources/
Assets/Resources.meta
Assets/Scenes/
Assets/Scenes/ControlsTestScene.unity.meta
Assets/Scenes/game.unity.meta
Assets/Scenes/SampleScene.unity.meta
Assets/Scenes.meta
Assets/Sprites/
Assets/Sprites/Bot_Sprite.png.meta
Assets/Sprites/GameObjects.meta
Assets/Sprites/UI.meta
Assets/Sprites.meta
Assets/Scripts/Controllers.meta
Assets/Scripts/Management.meta
Assets/Scripts/Models.meta
Assets/Scripts/Models/Enum.cs.meta
Assets/Scripts/Obstacles.meta
Assets/Scripts/PlayerController.cs.meta
Assets/Scripts.meta
Library/
Logs/
obj/
Packages/
ProjectSettings/
Temp/
.vs/
*.meta
*.csproj